Repository bounswe/2021SpringGroup12, pull requests merged in 2021-12, with the labels that each got.

#348 Goal-subgoal completion, subgoal analytics --backend
  application/backend/build.gradle
  application/backend/src/main/java/cmpe451/group12/beabee/common/model/Users.java
  application/backend/src/main/java/cmpe451/group12/beabee/common/service/UserService.java
  application/backend/src/main/java/cmpe451/group12/beabee/config/validation/ValidationControllerAdvice.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/Repository/entities/EntitiRepository.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/Repository/goals/GoalRepository.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/controller/EntitiController.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/controller/GoalController.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/controller/SubgoalController.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/controller/UserController.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/DateDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/analytics/GoalAnalyticsDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/analytics/SubgoalAnalyticsDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/analytics/UserAnalyticsDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/entities/EntitiDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/entities/ParentType.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/entities/QuestionPostDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/entities/ReflectionPostDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/entities/RoutinePostDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/entities/TaskPostDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/goals/GoalGetDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/goals/SubgoalGetDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/model/entities/Entiti.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/model/entities/Routine.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/model/entities/Task.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/model/goals/AllGoal.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/model/goals/Goal.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/model/goals/Subgoal.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/service/EntitiService.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/service/GoalService.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/service/GroupGoalService.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/service/ResourceService.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/service/SubgoalService.java
  application/backend/src/test/java/cmpe451/group12/beabee/goalspace/service/SubgoalServiceTest.java
Labels: backend

#355 Implemented routine rate, multiple deadlines logic
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/controller/EntitiController.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/entities/RoutineGetDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/mapper/entities/EntitiMapper.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/mapper/entities/EntitiShortMapper.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/mapper/entities/RoutinePostMapper.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/model/entities/Routine.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/model/goals/Subgoal.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/service/EntitiService.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/service/ResourceService.java
  application/backend/src/test/java/cmpe451/group12/beabee/goalspace/service/EntitiServiceTest.java
  application/backend/src/test/java/cmpe451/group12/beabee/goalspace/service/GoalServiceTest.java
  application/backend/src/test/java/cmpe451/group12/beabee/goalspace/service/ResourceServiceTest.java
Labels: backend

#354 Deadline calendar for task and routine entities
  application/android/app/src/main/java/com/group12/beabee/models/GroupGoalDetail.java
  application/android/app/src/main/java/com/group12/beabee/models/requests/Subgoal.java
  application/android/app/src/main/java/com/group12/beabee/models/responses/GoalDetail.java
  application/android/app/src/main/java/com/group12/beabee/models/responses/GroupGoalShort.java
  application/android/app/src/main/java/com/group12/beabee/models/responses/QuestionDetail.java
  application/android/app/src/main/java/com/group12/beabee/models/responses/ReflectionDetail.java
  application/android/app/src/main/java/com/group12/beabee/models/responses/RoutineDetail.java
  application/android/app/src/main/java/com/group12/beabee/models/responses/SubgoalDetail.java
  application/android/app/src/main/java/com/group12/beabee/models/responses/TaskDetail.java
  application/android/app/src/main/java/com/group12/beabee/network/mocking/MockService.java
  application/android/app/src/main/java/com/group12/beabee/views/entities/DeadlineCalendarFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/entities/RoutineCreateFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/entities/RoutineFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/entities/RoutineFragmentEdit.java
  application/android/app/src/main/java/com/group12/beabee/views/entities/TaskCreateFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/entities/TaskFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/entities/TaskFragmentEdit.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/GoalCreateFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/GoalEditFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/GoalFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/GroupGoalCreateFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/GroupGoalEditFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/GroupGoalFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/SubgoalCreateFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/SubgoalEditFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/SubgoalFragment.java
  application/android/app/src/main/res/layout/fragment_goal.xml
  application/android/app/src/main/res/layout/fragment_goal_edit.xml
  application/android/app/src/main/res/layout/fragment_group_goal.xml
  application/android/app/src/main/res/layout/fragment_group_goal_edit.xml
  application/android/app/src/main/res/layout/fragment_routine_create.xml
  application/android/app/src/main/res/layout/fragment_routine_edit.xml
  application/android/app/src/main/res/layout/fragment_subgoal.xml
  application/android/app/src/main/res/layout/fragment_subgoal_edit.xml
  application/android/app/src/main/res/layout/fragment_task_create.xml
  application/android/app/src/main/res/layout/fragment_task_edit.xml
Labels: android

#378 UI enhancements
  application/android/app/src/main/java/com/group12/beabee/views/dialogs/EntitySelectorDialog.java
  application/android/app/src/main/res/drawable/bg_rounded_yellow_dark_outline.xml
  application/android/app/src/main/res/layout/activity_login.xml
  application/android/app/src/main/res/layout/activity_sign_up.xml
  application/android/app/src/main/res/layout/dialog_select_entity.xml
  application/android/app/src/main/res/layout/fragment_goal.xml
  application/android/app/src/main/res/layout/fragment_group_goal.xml
  application/android/app/src/main/res/layout/fragment_group_goal_edit.xml
  application/android/app/src/main/res/layout/fragment_linkables.xml
  application/android/app/src/main/res/layout/fragment_question.xml
  application/android/app/src/main/res/layout/fragment_reflection.xml
  application/android/app/src/main/res/layout/fragment_routine.xml
  application/android/app/src/main/res/layout/fragment_subgoal.xml
  application/android/app/src/main/res/layout/fragment_task.xml
  application/android/app/src/main/res/layout/item_goal_list.xml
  application/android/app/src/main/res/layout/item_groupgoal_list.xml
  application/android/app/src/main/res/layout/item_member_list.xml
  application/android/app/src/main/res/layout/popup.xml
Labels: enhancement, priority: medium, android

#380 InputValidator and UnitTests
  application/android/app/src/main/java/com/group12/beabee/InputValidator.java
  application/android/app/src/main/java/com/group12/beabee/views/LoginActivity.java
  application/android/app/src/main/java/com/group12/beabee/views/SignUpActivity.java
  application/android/app/src/test/java/com/group12/beabee/InputValidatorUnitTest.java
Labels: enhancement, unittest, android

#383 Analytics Main Page
  application/android/app/src/main/java/com/group12/beabee/models/responses/Analytics.java
  application/android/app/src/main/java/com/group12/beabee/network/ServiceAPI.java
  application/android/app/src/main/java/com/group12/beabee/network/mocking/MockService.java
  application/android/app/src/main/java/com/group12/beabee/views/MainStructure/MainActivity.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/Home3Fragment.java
  application/android/app/src/main/res/drawable-anydpi/analytics.xml
  application/android/app/src/main/res/drawable-hdpi/analytics.png
  application/android/app/src/main/res/drawable-mdpi/analytics.png
  application/android/app/src/main/res/drawable-xhdpi/analytics.png
  application/android/app/src/main/res/drawable-xxhdpi/analytics.png
  application/android/app/src/main/res/layout/fragment_home3_analytics.xml
  application/android/app/src/main/res/layout/item_analytics_cardview_avg_time.xml
  application/android/app/src/main/res/layout/item_analytics_cardview_comp_goals.xml
  application/android/app/src/main/res/layout/item_analytics_cardview_goals.xml
  application/android/app/src/main/res/layout/item_analytics_cardview_num_goals.xml
  application/android/app/src/main/res/layout/item_analytics_cardview_rate.xml
  application/android/app/src/main/res/menu/bottom_navigation_menu.xml
Labels: priority: high, android

#381 Deadline extend feature for goal,subgoal,task,routine
  application/android/app/src/main/java/com/group12/beabee/models/requests/ExtendDeadline.java
  application/android/app/src/main/java/com/group12/beabee/network/ServiceAPI.java
  application/android/app/src/main/java/com/group12/beabee/network/mocking/MockService.java
  application/android/app/src/main/java/com/group12/beabee/views/entities/RoutineFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/entities/TaskFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/GoalFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/SubgoalFragment.java
  application/android/app/src/main/res/layout/fragment_goal.xml
  application/android/app/src/main/res/layout/fragment_routine.xml
  application/android/app/src/main/res/layout/fragment_subgoal.xml
  application/android/app/src/main/res/layout/fragment_task.xml
Labels: enhancement, android

#390 Frontend/group goal
  application/frontend/package.json
  application/frontend/src/App.tsx
  application/frontend/src/components/GoalForm.tsx
  application/frontend/src/components/LoginForm.tsx
  application/frontend/src/components/NavBar.tsx
  application/frontend/src/components/Sidebar.tsx
  application/frontend/src/components/UserCalendar.tsx
  application/frontend/src/helpers/GoalTypes.tsx
  application/frontend/src/index.tsx
  application/frontend/src/pages/AddGoal.tsx
  application/frontend/src/pages/EditGoal.tsx
  application/frontend/src/pages/GoalPage.tsx
  application/frontend/src/pages/GoalsPage.tsx
Labels: priority: urgent!, frontend

#388 Rating and completing Goal/subgoal/routine/task - Android
  application/android/app/src/main/java/com/group12/beabee/OnRateSelectedListener.java
  application/android/app/src/main/java/com/group12/beabee/Utils.java
  application/android/app/src/main/java/com/group12/beabee/models/responses/RoutineDetail.java
  application/android/app/src/main/java/com/group12/beabee/models/responses/SubgoalDetail.java
  application/android/app/src/main/java/com/group12/beabee/models/responses/TaskDetail.java
  application/android/app/src/main/java/com/group12/beabee/network/ServiceAPI.java
  application/android/app/src/main/java/com/group12/beabee/network/mocking/MockService.java
  application/android/app/src/main/java/com/group12/beabee/views/entities/RoutineFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/entities/TaskFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/GoalFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/SubgoalFragment.java
  application/android/app/src/main/res/layout/dialog_rate.xml
  application/android/app/src/main/res/layout/fragment_goal.xml
  application/android/app/src/main/res/layout/fragment_question_edit.xml
  application/android/app/src/main/res/layout/fragment_routine.xml
  application/android/app/src/main/res/layout/fragment_routine_edit.xml
  application/android/app/src/main/res/layout/fragment_subgoal.xml
  application/android/app/src/main/res/layout/fragment_task.xml
  application/android/app/src/main/res/layout/fragment_task_edit.xml
Labels: enhancement, priority: high, android

#409 Fix calendar display issue
  application/frontend/src/components/UserCalendar.tsx
Labels: bug, frontend

#425 update layout and alignment of Goals page
  application/frontend/src/pages/GoalsPage.tsx
Labels: frontend

#452 OnlyTitle and OnlySearch Modes added
  application/android/app/src/main/java/com/group12/beabee/views/BaseInnerFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/MainStructure/BaseContainerFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/MainStructure/PageMode.java
  application/android/app/src/main/res/drawable-anydpi/ic_search.xml
  application/android/app/src/main/res/drawable-hdpi/ic_search.png
  application/android/app/src/main/res/drawable-mdpi/ic_search.png
  application/android/app/src/main/res/drawable-xhdpi/ic_search.png
  application/android/app/src/main/res/drawable-xxhdpi/ic_search.png
  application/android/app/src/main/res/layout/fragment_container.xml
Labels: enhancement, android
