Repository bounswe/2021SpringGroup12, pull requests merged in 2021-11, with the labels that each got.

#231 Android Project Created
  .DS_Store
  .gitignore
  application/.DS_Store
  application/android/.gitignore
  application/android/app/.gitignore
  application/android/app/build.gradle
  application/android/app/proguard-rules.pro
  application/android/app/src/androidTest/java/com/group12/beabee/ExampleInstrumentedTest.java
  application/android/app/src/main/AndroidManifest.xml
  application/android/app/src/main/java/com/group12/beabee/MainActivity.java
  application/android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  application/android/app/src/main/res/drawable/ic_launcher_background.xml
  application/android/app/src/main/res/layout/activity_main.xml
  application/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  application/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  application/android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  application/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  application/android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  application/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  application/android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  application/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  application/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  application/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  application/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  application/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  application/android/app/src/main/res/values-night/themes.xml
  application/android/app/src/main/res/values/colors.xml
  application/android/app/src/main/res/values/strings.xml
  application/android/app/src/main/res/values/themes.xml
  application/android/app/src/test/java/com/group12/beabee/ExampleUnitTest.java
  application/android/build.gradle
  application/android/gradle.properties
  application/android/gradle/wrapper/gradle-wrapper.jar
  application/android/gradle/wrapper/gradle-wrapper.properties
  application/android/gradlew
  application/android/gradlew.bat
  application/android/settings.gradle
Labels: priority: high, status: Review Request, android

#241 Dev/backend signup swagger
  application/backend/build.gradle
  application/backend/src/main/java/cmpe451/group12/beabee/BeabeeApplication.java
  application/backend/src/main/java/cmpe451/group12/beabee/common/dto/AuthenticationResponse.java
  application/backend/src/main/java/cmpe451/group12/beabee/config/documentation/Swagger.java
  application/backend/src/main/java/cmpe451/group12/beabee/config/security/MyUserDetailsService.java
  application/backend/src/main/java/cmpe451/group12/beabee/config/security/WebSecurityConfig.java
  application/backend/src/main/java/cmpe451/group12/beabee/controller/LoginController.java
  application/backend/src/main/java/cmpe451/group12/beabee/controller/UserController.java
  application/backend/src/main/java/cmpe451/group12/beabee/model/AuthenticationResponse.java
  application/backend/src/main/java/cmpe451/group12/beabee/model/Users.java
  application/backend/src/main/java/cmpe451/group12/beabee/repository/UserRepository.java
  application/backend/src/main/java/cmpe451/group12/beabee/service/UserService.java
  application/backend/src/main/java/cmpe451/group12/beabee/util/JwtUtil.java
  application/backend/src/main/resources/application.properties
  application/backend/src/test/java/cmpe451/group12/beabee/service/UserServiceTest.java
Labels: documentation, priority: high, status: Review Request, backend

#250 feature:(dev/backend): implemented password-forgot-reset feature #249
  application/backend/build.gradle
  application/backend/src/main/java/cmpe451/group12/beabee/config/security/WebSecurityConfig.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/controller/LoginController.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/controller/UserController.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/dto/UserDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/model/Users.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/repository/UserRepository.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/service/LoginService.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/service/UserService.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/util/EmailSender.java
  application/backend/src/main/resources/application.properties
Labels: enhancement, backend

#265 Android/mainpage structure
  application/android/app/build.gradle
  application/android/app/src/main/AndroidManifest.xml
  application/android/app/src/main/java/com/group12/beabee/views/BaseInnerFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/LoginActivity.java
  application/android/app/src/main/java/com/group12/beabee/views/MainActivity.java
  application/android/app/src/main/java/com/group12/beabee/views/MainPage/BaseContainerFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/MainPage/MainActivity.java
  application/android/app/src/main/java/com/group12/beabee/views/MainPage/PageMode.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/HomeFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/SampleFragment.java
  application/android/app/src/main/res/drawable/ic_add_24.xml
  application/android/app/src/main/res/drawable/ic_back_24.xml
  application/android/app/src/main/res/drawable/ic_baseline_home_24.xml
  application/android/app/src/main/res/drawable/ic_cancel_24.xml
  application/android/app/src/main/res/drawable/ic_done_24.xml
  application/android/app/src/main/res/drawable/ic_edit_24.xml
  application/android/app/src/main/res/layout/activity_main.xml
  application/android/app/src/main/res/layout/fragment_container.xml
  application/android/app/src/main/res/layout/fragment_home.xml
  application/android/app/src/main/res/layout/fragment_sample.xml
  application/android/app/src/main/res/menu/bottom_navigation_menu.xml
  application/android/app/src/main/res/values/colors.xml
Labels: enhancement, priority: high, android

#255 Dev/backend goals and entities
  application/backend/src/main/java/cmpe451/group12/beabee/common/mapper/UserMapper.java
  application/backend/src/main/java/cmpe451/group12/beabee/common/model/Users.java
  application/backend/src/main/java/cmpe451/group12/beabee/common/repository/UserRepository.java
  application/backend/src/main/java/cmpe451/group12/beabee/common/service/UserService.java
  application/backend/src/main/java/cmpe451/group12/beabee/config/security/MyUserDetailsService.java
  application/backend/src/main/java/cmpe451/group12/beabee/config/security/WebSecurityConfig.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/Repository/EntitiRepository.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/Repository/GoalRepository.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/Repository/QuestionRepository.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/Repository/ReflectionRepository.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/Repository/RoutineRepository.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/Repository/SubgoalRepository.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/Repository/TaskRepository.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/controller/EntitiController.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/controller/GoalController.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/EntitiDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/GoalDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/QuestionDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/ReflectionDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/RoutineDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/SubgoalDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/TaskDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/UserDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/enums/EntitiType.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/enums/GoalType.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/mapper/EntitiMapper.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/mapper/GoalMapper.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/mapper/QuestionMapper.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/mapper/ReflectionMapper.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/mapper/RoutineMapper.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/mapper/SubgoalMapper.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/mapper/TaskMapper.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/model/AllGoal.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/model/Entiti.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/model/Goal.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/model/Question.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/model/Reflection.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/model/Routine.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/model/Subgoal.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/model/Task.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/service/EntitiService.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/service/GoalService.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/controller/LoginController.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/controller/UserCredentialsController.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/dto/AuthenticationResponse.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/dto/UserCredentialsDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/mapper/UserCredentialsMapper.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/mapper/UserMapper.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/model/Users.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/repository/UserRepository.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/service/LoginService.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/service/UserCredentialsService.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/util/EmailSender.java
  application/backend/src/main/java/cmpe451/group12/beabee/login/util/JwtUtil.java
  application/backend/src/main/resources/application.properties
  application/backend/src/test/java/cmpe451/group12/beabee/service/UserCredentialsServiceTest.java
Labels: enhancement, backend

#271 Unittests for backend service classes: EntitiService and GoalService
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/dto/GoalDTO.java
  application/backend/src/main/java/cmpe451/group12/beabee/goalspace/service/GoalService.java
  application/backend/src/main/resources/application.properties
  application/backend/src/test/java/cmpe451/group12/beabee/goalspace/service/EntitiServiceTest.java
  application/backend/src/test/java/cmpe451/group12/beabee/goalspace/service/GoalServiceTest.java
  application/backend/src/test/java/cmpe451/group12/beabee/service/UserCredentialsServiceTest.java
Labels: documentation, backend, unittest

#269 Goal Pages
  application/frontend/src/App.tsx
  application/frontend/src/components/GoalForm.tsx
  application/frontend/src/components/LoginForm.tsx
  application/frontend/src/components/NavBar.tsx
  application/frontend/src/components/SignOutButton.tsx
  application/frontend/src/index.tsx
  application/frontend/src/pages/AddGoal.tsx
  application/frontend/src/pages/EditGoal.tsx
  application/frontend/src/pages/GoalPage.tsx
  application/frontend/src/pages/GoalsPage.tsx
Labels: enhancement, priority: high, status: Done, frontend
