Repository bounswe/2021SpringGroup12, pull requests merged in 2022-01, with the labels that each got.

#465 Implement reset password page
  application/frontend/src/components/PasswordForm.tsx
Labels: enhancement, priority: high, status: Done, frontend

#520 Implementation of privacy policy and terms and conditions
  application/frontend/src/components/PrivacyPolicy.tsx
  application/frontend/src/components/RegistrationForm.tsx
  application/frontend/src/components/TermsAndConditions.tsx
Labels: enhancement, status: Done, status: Review Request, frontend

#522 Frontend/entity new updates
  application/frontend/src/App.tsx
  application/frontend/src/components/EntityForm.tsx
  application/frontend/src/pages/AddEntity.tsx
  application/frontend/src/pages/EditEntity.tsx
  application/frontend/src/pages/EntityPage.tsx
  application/frontend/src/pages/GoalPage.tsx
  application/frontend/src/pages/LinkEntity.tsx
Labels: priority: high, frontend

#474 unittest for null and empty
  application/android/app/src/main/java/com/group12/beabee/InputValidator_ref.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/Home3Fragment.java
  application/android/app/src/test/java/com/group12/beabee/InputValidatorUnitTest_ref.java
Labels: unittest

#505 Name and surname added to sign-log-in
  application/android/app/src/main/java/com/group12/beabee/models/requests/LoginRequest.java
  application/android/app/src/main/java/com/group12/beabee/models/requests/SignUpRequest.java
  application/android/app/src/main/java/com/group12/beabee/views/LoginActivity.java
  application/android/app/src/main/java/com/group12/beabee/views/SignUpActivity.java
  application/android/app/src/main/res/layout/activity_login.xml
  application/android/app/src/main/res/layout/activity_sign_up.xml
Labels: android

#530 Profile Page is completed
  application/frontend/src/App.tsx
  application/frontend/src/pages/ProfilePage.tsx
Labels: frontend

#509 Android/feed page for activity stream
  application/android/app/src/main/java/com/group12/beabee/models/responses/ActivityStream.java
  application/android/app/src/main/java/com/group12/beabee/models/responses/ObjectSchema.java
  application/android/app/src/main/java/com/group12/beabee/network/ServiceAPI.java
  application/android/app/src/main/java/com/group12/beabee/network/mocking/MockService.java
  application/android/app/src/main/java/com/group12/beabee/views/MainStructure/MainActivity.java
  application/android/app/src/main/java/com/group12/beabee/views/feed/FeedAdapter.java
  application/android/app/src/main/java/com/group12/beabee/views/feed/FeedFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/feed/IOnFeedClickedListener.java
  application/android/app/src/main/res/drawable/ic_baseline_dynamic_feed_24.xml
  application/android/app/src/main/res/drawable/ic_baseline_keyboard_arrow_right_24.xml
  application/android/app/src/main/res/layout/fragment_feed.xml
  application/android/app/src/main/res/layout/item_feed_list.xml
  application/android/app/src/main/res/menu/bottom_navigation_menu.xml
Labels: enhancement, android

#536 Publish buttons are added for normal group.
  application/frontend/src/pages/GoalPage.tsx
Labels: frontend

#538 Deadline field is deleted from EditGoal.tsx.
  application/frontend/src/pages/EditGoal.tsx
Labels: frontend

#467 User search feature for android implemented
  application/android/app/build.gradle
  application/android/app/src/main/java/com/group12/beabee/InputValidator_ihsan.java
  application/android/app/src/main/java/com/group12/beabee/models/responses/UserSearchData.java
  application/android/app/src/main/java/com/group12/beabee/network/ServiceAPI.java
  application/android/app/src/main/java/com/group12/beabee/network/mocking/MockService.java
  application/android/app/src/main/java/com/group12/beabee/views/feed/FeedFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/MemberListFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/MembersAdapter.java
  application/android/app/src/main/java/com/group12/beabee/views/userprofile/UserFollowingList.java
  application/android/app/src/main/java/com/group12/beabee/views/userprofile/UserProfileFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/userprofile/UserSearchFragment.java
  application/android/app/src/main/res/drawable/ic_baseline_person_search_24.xml
  application/android/app/src/main/res/layout/fragment_user_profile.xml
  application/android/app/src/main/res/layout/fragment_user_search.xml
  application/android/app/src/test/java/com/group12/beabee/InputValidatorUnitTest_ihsan.java
Labels: enhancement, android

#541 FeedPage Redirection
  application/android/app/src/main/java/com/group12/beabee/views/BaseInnerFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/MainStructure/BaseContainerFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/MainStructure/PageMode.java
  application/android/app/src/main/java/com/group12/beabee/views/feed/FeedAdapter.java
  application/android/app/src/main/java/com/group12/beabee/views/feed/FeedFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/feed/IOnFeedClickedListener.java
  application/android/app/src/main/res/drawable-anydpi/ic_profile.xml
  application/android/app/src/main/res/drawable-hdpi/ic_profile.png
  application/android/app/src/main/res/drawable-mdpi/ic_profile.png
  application/android/app/src/main/res/drawable-xhdpi/ic_profile.png
  application/android/app/src/main/res/drawable-xxhdpi/ic_profile.png
  application/android/app/src/main/res/layout/fragment_container.xml
  application/android/app/src/main/res/layout/item_feed_list.xml
  application/android/app/src/main/res/layout/item_goal_list.xml
  application/android/app/src/main/res/layout/item_goal_list_marketplace.xml
  application/android/app/src/main/res/layout/item_groupgoal_list.xml
  application/android/app/src/main/res/layout/item_member_list.xml
Labels: enhancement, android

#544 I have implemented PrototypeEntityPage.tsx and PrototypePage.tsx. Als…
  application/frontend/src/App.tsx
  application/frontend/src/pages/GoalPage.tsx
  application/frontend/src/pages/PrototypeEntityPage.tsx
  application/frontend/src/pages/PrototypePage.tsx
Labels: frontend

#547 Privacy Policy, Term Conditions Added
  application/android/app/src/main/AndroidManifest.xml
  application/android/app/src/main/java/com/group12/beabee/views/SignUpActivity.java
  application/android/app/src/main/java/com/group12/beabee/views/StringDisplayActivity.java
  application/android/app/src/main/res/layout/activity_login.xml
  application/android/app/src/main/res/layout/activity_sign_up.xml
  application/android/app/src/main/res/layout/activity_string_display.xml
  application/android/app/src/main/res/raw/privacypolicy.txt
  application/android/app/src/main/res/raw/terms.txt
Labels: enhancement, priority: high, android

#543 Implement search page
  application/frontend/src/App.tsx
  application/frontend/src/components/NavBar.tsx
  application/frontend/src/pages/SearchPage.tsx
Labels: enhancement, priority: urgent!, frontend

#545 Add tag and Remove Tag feature
  application/android/app/src/main/java/com/group12/beabee/TagDialogCallback.java
  application/android/app/src/main/java/com/group12/beabee/Utils.java
  application/android/app/src/main/java/com/group12/beabee/models/GroupGoalDetail.java
  application/android/app/src/main/java/com/group12/beabee/models/responses/GoalDetail.java
  application/android/app/src/main/java/com/group12/beabee/network/ServiceAPI.java
  application/android/app/src/main/java/com/group12/beabee/network/mocking/MockService.java
  application/android/app/src/main/java/com/group12/beabee/views/entities/IOnTagClickedListener.java
  application/android/app/src/main/java/com/group12/beabee/views/entities/TagCardViewAdapter.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/GoalFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/GroupGoalFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/PrototypeGoalFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/SubgoalFragment.java
  application/android/app/src/main/res/layout/dialog_add_tag.xml
  application/android/app/src/main/res/layout/fragment_goal.xml
  application/android/app/src/main/res/layout/fragment_question.xml
  application/android/app/src/main/res/layout/fragment_reflection.xml
  application/android/app/src/main/res/layout/fragment_routine.xml
  application/android/app/src/main/res/layout/fragment_subgoal.xml
  application/android/app/src/main/res/layout/fragment_task.xml
Labels: enhancement, priority: urgent!, android

#548 Removed Deadline from UIs
  application/android/app/src/main/java/com/group12/beabee/views/goals/GoalCreateFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/GoalEditFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/GoalFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/GroupGoalCreateFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/GroupGoalEditFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/GroupGoalFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/SubgoalCreateFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/SubgoalEditFragment.java
  application/android/app/src/main/java/com/group12/beabee/views/goals/SubgoalFragment.java
  application/android/app/src/main/res/layout/fragment_goal.xml
  application/android/app/src/main/res/layout/fragment_goal_edit.xml
  application/android/app/src/main/res/layout/fragment_group_goal.xml
  application/android/app/src/main/res/layout/fragment_group_goal_edit.xml
  application/android/app/src/main/res/layout/fragment_subgoal.xml
  application/android/app/src/main/res/layout/fragment_subgoal_edit.xml
Labels: priority: high, android

#549 Complete Button is added
  application/frontend/src/pages/EntityPage.tsx
Labels: frontend

#539 Implement Frontend/unit test
  application/frontend/package-lock.json
  application/frontend/package.json
  application/frontend/src/App.test.tsx
  application/frontend/src/pages/AddGoal.test.tsx
  application/frontend/src/pages/EditGoal.test.tsx
  application/frontend/src/pages/GoalPage.test.tsx
  application/frontend/src/pages/GoalsPage.test.tsx
  application/frontend/src/setupTests.ts
Labels: frontend, unittest
